<button type="button"
        routerLink="../../"
        class="btn btn-secondary btn-sm rounded-3">
  Wróć do konta
</button>
<button type="button"
        class="btn btn-success btn-sm rounded-3 float-end"
        routerLink="./editOperation">
  Edytuj operację
</button>
<button type="button"
        class="btn btn-success btn-sm rounded-3 float-end me-3"
        (click)="deleteOperation()">
  Usuń operację
</button>
<div class="row text-center mb-4">
  <h1>Operacja</h1>
  <h6>{{ getOperationType()}}</h6>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Kwota</th>
      <th scope="col">Z konta</th>
      <th scope="col">Na konto</th>
      <th scope="col">Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> {{ operation.amount }} </td>
      <td>{{ accountFrom.name }}</td>
      <td>{{ accountTo.name }}</td>
      <td>{{ getOperationDate() }}</td>
    </tr>
    </tbody>
  </table>


</div>
