<button type="button"
  class="btn btn-secondary btn-sm rounded-3"
  routerLink="../../">
  Wróć do listy bilansów
</button>
<button type="button"
  class="btn btn-success btn-sm rounded-3 float-end"
  routerLink="./newOperation">
  Dodaj operację
</button>
<button type="button"
        class="btn btn-success btn-sm rounded-3 float-end me-3"
        (click)="deleteBalance()">
  Usuń bilans
</button>

<p>--dane jednostki--</p>
<h1>Bilans</h1>
<p class="lead">Sporządzony na dzień ....</p>
<p>Jednostka obliczeniowa: {{ getCurrency() }}</p>
<div class="container-fluid">
    <div class="row">
        <!-- AKTYWA -->
        <div class="col-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Aktywa</th>
                    <th scope="col">Stan na dzień kończący</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let account of getActiveAccounts()">
                    <th scope="row">{{ account.path }}</th>
                    <td>
                      <a class="text-decoration-none"
                        [routerLink]="getAccountPath(account)">
                        {{ account.name }}
                      </a>
                    </td>
                    <td>{{ account.balance }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <!-- PASYWA -->
        <div class="col-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pasywa</th>
                    <th scope="col">Stan na dzień kończący</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let account of getPassiveAccounts()">
                    <th scope="row">{{ account.path }}</th>
                    <td>
                      <a class="text-decoration-none"
                        [routerLink]="getAccountPath(account)">
                        {{ account.name }}
                      </a>
                    </td>
                    <td>{{ account.balance }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
