<h1>Nowa operacja</h1>
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <p>Typ</p>
    <select class="form-select" (change)="selectType($event)"
        #type="ngModel" [(ngModel)]="operation.type" name="type">
        <option selected value="" disabled>Wybierz typ operacji</option>
        <option *ngFor="let typeKey of getTypesKeys()"
            [selected]="typeKey === operationType"
            [value]="typeKey">{{ getType(typeKey) }}</option>
    </select>
    <div *ngIf="isTypeSelected" >
        <p>Z konta</p>
        <select class="form-select" (change)="selectFrom($event)"
            #from="ngModel" [(ngModel)]="operation.from" name="from">
            <ng-template [ngIf]="operationType === 'passive'"
                [ngIfElse]="active">
                <option *ngFor="let account of getPassiveAccounts()"
                    [value]="account._id">
                    {{account.name}}
                </option>
            </ng-template>
            <ng-template #active>
                <option *ngFor="let account of getActiveAccounts()"
                    [value]="account._id">
                    {{account.name}}
                </option>
            </ng-template>
        </select>
        <p>Na konto</p>
        <select class="form-select" (change)="selectTo($event)"
            #to="ngModel" [(ngModel)]="operation.to" name="to">
            <option selected value="" disabled>Wybierz konto</option>
            <ng-template [ngIf]="operationType === 'active'"
                [ngIfElse]="passive">
                <option *ngFor="let account of getActiveAccounts()"
                    [value]="account._id">
                    {{account.name}}
                </option>
            </ng-template>
            <ng-template #passive>
                <option *ngFor="let account of getPassiveAccounts()"
                    [value]="account._id">
                    {{account.name}}
                </option>
            </ng-template>
        </select>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="amount"
                placeholder="amount" [(ngModel)]="operation.amount"
                #amount="ngModel" id="amount" name="amount" required>
            <label for="amount">Kwota</label>
        </div>
        <button type="submit" class="btn btn-success rounded-3">Dodaj</button>
    </div>
</form>
