<button type="button"
        routerLink="../"
        class="btn btn-secondary btn-sm rounded-3">
  Anuluj
</button>

<form (ngSubmit)="onSubmit()">
<div class="row text-center mb-4">
  <h1>Operacja</h1>
  <h6>{{ getOperationType()}}</h6>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Kwota</th>
      <th scope="col">Z konta</th>
      <th scope="col">Na konto</th>
      <th scope="col">Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="number" class="form-control" id="amount"
                 placeholder="{{operation.amount}}" [(ngModel)]="operation.amount"
                 #amount="ngModel" id="amount" name="amount"
                 min="1" required>
      <div *ngIf="hasErrors">
        <span class="error-message">{{messageError}}</span>
      </div></td>
      <td>{{ accountFrom.name }}</td>
      <td>{{ accountTo.name }}</td>
      <td>{{ getOperationDate() }}</td>
    </tr>
    </tbody>
  </table>
</div>
  <button type="submit"
          class="btn btn-success btn-sm rounded-3 float-end">
    Zapisz
  </button>
</form>
