<button type="button"
        routerLink="../../"
        class="btn btn-secondary btn-sm rounded-3">
  Anuluj
</button>
<button type="button"
        class="btn btn-success btn-sm rounded-3 float-end">
  Zapisz
</button>

<div class="row text-center mb-4">
  <h1>Operacja</h1>
  <h6>Typ</h6>
  <select class="form-select" (change)="selectType($event)"
          #type="ngModel" [(ngModel)]="operation.operationType" name="type">
    <option selected value="" disabled>Wybierz typ operacji</option>
    <option *ngFor="let typeKey of getTypesKeys()"
            [selected]="typeKey === operationType"
            [value]="typeKey">{{ getType(typeKey) }}</option>
  </select>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Kwota</th>
      <th scope="col">Z konta</th>
      <th scope="col">Na konto</th>
      <th scope="col">Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> {{ operation.amount }} </td>
<!--      <td>{{ accountFrom.name }}</td>-->
<!--      <td>{{ accountTo.name }}</td>-->
<!--      <td>{{ getOperationDate() }}</td>-->
    </tr>
    </tbody>
  </table>


</div>
