<h1>Nowy BILANS</h1>
<form #f="ngForm" (ngSubmit)="onSubmit()">

  <h3>Dane jednostki: </h3>
  <input type="text" [(ngModel)]="balance.name" 
    name="balanceName" #balanceName="ngModel">
  <div *ngIf="balanceName.errors?.['required']" class="cross-validation-error-message alert alert-danger">
      Nazwa nie może być pusta.
  </div>
  <h4>Sporządzony na dzień: </h4>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  <div class="row">
    <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Typ</th>
        <th scope="col">Saldo początkowe</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of getActiveAccounts()">
        <th scope="row">{{account.path}}</th>
        <td>{{account.name}}</td>
        <input type="number" class="form-control" required
               [(ngModel)]="account.initialBalance"
               name="initialBalanceA" #initialBalanceA="ngModel"
        >
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Typ</th>
        <th scope="col">Saldo początkowe</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of getPassiveAccounts()">
        <th scope="row">{{account.path}}</th>
        <td>{{account.name}}</td>
        <input type="number" class="form-control"
               name="initialBalanceP" #initialBalanceP="ngModel"
               [(ngModel)]="account.initialBalance" >
      </tr>
      </tbody>
    </table>
  </div>
  </div>

  <button type="submit" class="btn btn-success rounded-3">Dodaj</button>

</form>
